@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);

  --color-green-400: #0aff9d; /* neon */

  --color-gray-200: #ebecf3; /* slight-gray */
  --color-gray-300: #c0c1c7;
  --color-gray-600: #6d6d6d; /* slate-gray */

  --color-red-400: #ff6452; /* coral-red */

  --color-blue-50: #f5f6ff; /* pale-blue */
  --color-white-400: rgba(255, 255, 255, 0.8); /* white-transparent */

  --ease-in-expo: cubic-bezier(0.3, 1, 0.8, 1);
}

@layer base {
  /* reset styles */
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /* base styles */

  html {
    @apply scroll-smooth;
  }

  h1 {
    @apply max-md:text-6xl text-8xl;
  }
  h2 {
    @apply max-md:text-6xl text-6xl;
  }
  h3 {
    @apply text-2xl;
  }
  h1,
  h2,
  h3 {
    @apply text-gray-200 font-extrabold tracking-tighter z-20;
  }

  p {
    @apply text-gray-300 text-lg;
  }

  span {
    @apply text-green-400;
  }
}

@layer utilities {
  .app-layout {
    @apply p-0 m-0 grid grid-cols-[60px_1fr];
  }

  .stack-grid {
    @apply flex flex-wrap mt-6 gap-5;
  }

  .stack-item {
    @apply bg-[#232323] leading-none rounded-xl pt-1.5 pb-2.5 px-2 text-[#d6d7db] font-medium text-lg inline-block mr-3 mb-3;
  }

  .resume-button {
    @apply z-30 relative text-lg overflow-hidden cursor-pointer font-medium rounded-md border border-green-400 bg-green-400 tracking-wider active:scale-95 before:content-[""];
  }

  .resume-button::after,
  .resume-button::before {
    @apply absolute top-0 left-0 w-full h-full z-0;
  }

  .resume-button::before {
    @apply bg-[#111111] left-[-10%] w-[120%] transition-transform duration-400 ease-in-expo skew-x-30;
  }

  .resume-button:hover::before {
    transform: translate3d(100%, 0, 0);
  }

  .resume-button span {
    @apply relative z-30 transition-colors duration-400 inline-flex items-center pt-[8px] pb-[10px] px-[22px] hover:text-black;
  }

  .vertical-lr {
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }
}
